/* Style des pages */
body{
    background-color: #4e4e4e;
}
::placeholder{
    text-align: center;
    color:#b98c36;
    
}
.textarea{
    background-color: #555;
    padding: 5px;
    margin: auto ;
}
.principal{
 display:flex;
 box-sizing:border-box;

}
.container{
    width: 90%;
    max-width: 2000px; 
    margin: 0 auto; 
    padding: 20px;
    border: #555 1px solid;
    border-radius: 5px; 
    color: rgb(206, 206, 206);
}
.presentation{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    border: #555 1px solid;
    border-radius: 5px;
}
.lien_quizz{
    margin: 0 auto;
    display:flex;
    justify-content: center;
    text-align:center;
    border: #555 1px solid;
    border-radius: 5px;
}
 
/* Barre de Navigation */
.barnav {
    background-color: #333;
    border: #555 1px solid;
    border-radius: 5px;
    box-sizing: content-box;
    margin: 0 auto;
}

/* Style de la liste non ordonnée */
.barnav ul {
    list-style-type: none;
    display:flex;
    padding-left: auto;
}

/* Style des éléments de la liste */
.barnav ul li {
    display: inline-flex;
    text-align: center;
    margin: auto;
}

/* Style des liens */
.barnav ul li a {
    display: inline-flex;
    padding-left: 5px;
    color: #b98c36;
    text-decoration: none;
}
/* Changement de couleur au survol */
.barnav ul li a:hover {
    background-color: #555;
    transition: all;
    transition-duration: 2s;
}
.barnav ul li img{
    margin-right:auto;
    display: inline-flex;

}
