/* Style général des pages */

body{
    background-color: #4e4e4e;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Barre de Navigation */
.barnav {
    background-color: #333;
    border: #555 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: larger;
}

.barnav ul {
    list-style-type: none;
    display: flex;
}

.barnav ul li {
    text-align:center;
    padding:auto;
    margin: auto;
    box-shadow:10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2); 
    border-radius:10px;
}
.main-li{
    display: flex;
    align-items: center;
}
.main-li img{
    margin-right: auto; 
    align-items: center; 
}
.main-li a{
    margin-inline: auto;
    justify-content: center;
}

.barnav ul li a {
    display: inline-flex;
    padding-left: 5px;
    color: #b98c36;
    text-decoration: none;
    text-align: center;
    margin-inline: auto;
}

.barnav ul li a:hover {
    background-color:#667;
    transition: all;
    transition-duration: 2s;
    margin: auto;
    border: #667;
    border-radius: 5px;
}
.barnav ul li img{
    margin-right:auto;
    display: inline-flex;

} 

/*  *//* *//*  */

::placeholder{
    text-align: center;
    color:#b98c36;
    
}

.textarea{
    background-color: #333;
    padding: 5px;
    margin: auto ;
    color: rgb(206, 206, 206);
    font-size: larger;
    border-radius: 5px;
}

.textarea:hover{
    transition: all;
    transition-duration: 2s; 
    background-color: #667;  
}
/* page globale */
.principal{
 display:flex;
 box-sizing:border-box;
 
}
.principal p{
    font-size: larger;
}
/* container des pages */
.container{
    width: 70%;
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 20px;
    border: #555 1px solid;
    border-radius: 5px; 
    color: rgb(206, 206, 206);
    background-color: #333;
    box-shadow:10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2); 
    
}
/* Page User */
.presentation{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    border: #555 1px solid;
    border-radius: 5px;
    padding: 10px;
    box-shadow:5px 5px 5px rgba(0.2, 0.2, 0.2, 0.2); 
}
.lien_quizz{
    margin: 0 auto;
    display:block;
    justify-content: center;
    text-align:center;
    border: #555 1px solid;
    border-radius: 5px;
    padding:10px;
    box-shadow:5px 5px 5px rgba(0.2, 0.2, 0.2, 0.2);  
}
.api{
    margin: 0 auto;
    display:block;
    justify-content: center;
    text-align:center;
    border: #555 1px solid;
    border-radius: 5px;
    padding:10px;
    box-shadow:5px 5px 5px rgba(0.2, 0.2, 0.2, 0.2); 
}
.api button{
    background-color: #333;
    padding: 5px;
    margin: auto ;
    color: #b98c36;
    font-size: larger;
    border-radius: 5px;
}
 
/*  *//* *//*  */

/*page inscription */
.inscription{
    display:block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 50%;
    max-width: 500px; 
    margin: 0 auto; 
    padding: 20px;
    border: #555 1px solid;
    border-radius: 5px; 
    color: rgb(206, 206, 206);
    background-color: #333;
    box-shadow:10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2); 
    

}
.inscription input{
    background-color: #333;
    border-radius: 5px;
    color: #b98c36;
    font-size: larger;

}
form input:hover{
    transition: all;
    transition-duration: 2s; 
    background-color: #667; 
}